<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" />
    </handlers>
    <httpPlatform processPath="node.exe"
                  arguments="src\SEBT.Portal.Web\server.js"
                  startupTimeLimit="60"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\node-stdout">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="HOSTNAME" value="127.0.0.1" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="BACKEND_URL" value="http://localhost:5280" />
        <environmentVariable name="NEXT_PUBLIC_STATE" value="dc" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".next" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
