# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SEBT.Portal.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/terraform.xml
/copilot.data.migration.ask2agent.xml
/aws.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
